.full-height.row.middle-xs.white-text.center-xs.main-background.no-margin
    = grid xs: 10, sm: 8, md: 6, lg: 4 do
        .big-padding.white.white-text.mdl-shadow--4dp.top-space 
            %h2.light-blue-text Iniciar sesión
            = render "devise/sessions/new"