.absolute{style: "top: 10px; right: 10px;"}
    %button#images_menu.mdl-button.mdl-js-button.mdl-button--icon
        %i.material-icons more_vert
    %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{for: "images_menu"}
        %li.mdl-menu__item.file-activator{for: "#user_avatar"} Actualizar avatar
        %li.mdl-menu__item.file-activator{for: "#user_cover"} Actualizar Cover